full_compiler/src/*.yy.cpp
full_compiler/src/c_lexer.yy.o
full_compiler/src/c_lexer_main.o
full_compiler/bin/c_lexer
full_compiler/src/c_parser.output
full_compiler/input_test.txt
full_compiler/output.txt
